In [ ]:
import requests 
import json 
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import time
import numpy as np

In [ ]:
def get_binance_bars(symbol, interval, startTime, endTime):
 
    url = "https://api.binance.com/api/v3/klines"
 
    startTime = str(int(startTime.timestamp() * 1000))
    endTime = str(int(endTime.timestamp() * 1000))
    limit = '1000'
 
    req_params = {"symbol" : symbol, 'interval' : interval, 'startTime' : startTime, 'endTime' : endTime, 'limit' : limit}
 
    df = pd.DataFrame(json.loads(requests.get(url, params = req_params).text))
 
    if (len(df.index) == 0):
        return None
     
    df = df.iloc[:, 0:6]
    df.columns = ['datetime', 'open', 'high', 'low', 'close', 'volume']
 
    df.open      = df.open.astype("float")
    df.high      = df.high.astype("float")
    df.low       = df.low.astype("float")
    df.close     = df.close.astype("float")
    df.volume    = df.volume.astype("float")
    
    df['adj_close'] = df['close']
     
    df.index = [dt.datetime.fromtimestamp(x / 1000.0) for x in df.datetime]
 
    return df

In [ ]:
data = get_binance_bars('ETHUSDT', '30m', dt.datetime(2021, 10, 1), dt.datetime(2021, 12, 28))

In [ ]:
data

,datetime,open,high,low,close,volume,adj_close
2021-10-01 00:00:00,1633046400000,3000.62,3027.00,2997.49,3024.13,9220.7503,3024.13
2021-10-01 00:30:00,1633048200000,3024.14,3041.42,3015.62,3020.09,12927.0339,3020.09
2021-10-01 01:00:00,1633050000000,3020.10,3025.00,2998.00,3012.69,7379.7876,3012.69
2021-10-01 01:30:00,1633051800000,3012.70,3029.65,3009.75,3021.65,4262.1823,3021.65
2021-10-01 02:00:00,1633053600000,3021.66,3029.68,3000.00,3001.94,4917.4897,3001.94
...,...,...,...,...,...,...,...
2021-10-21 17:30:00,1634837400000,4090.51,4096.27,4043.36,4046.30,11409.9292,4046.30
2021-10-21 18:00:00,1634839200000,4046.31,4109.41,4045.67,4106.49,11336.2026,4106.49
2021-10-21 18:30:00,1634841000000,4106.48,4109.13,4055.60,4063.15,9015.5957,4063.15
2021-10-21 19:00:00,1634842800000,4063.16,4115.00,4061.12,4108.64,11155.6709,4108.64
2021-10-21 19:30:00,1634844600000,4108.65,4119.13,4065.66,4080.55,11631.4031,4080.55